.nav__container {
  background: #fff;
  border-bottom: 1px solid lightgray;
}
.nav__container > .container {
  max-width: 1000px;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.nav__brand {
  cursor: pointer;
}
.nav__brand_img {
  width: 100%;
  height: auto;
}
.nav__searchBar {
  position: relative;
  padding: 2px 0px;
  border: 1px solid lightgray;
  background: #fafafa;
}
.nav__searchBar_search {
  position: absolute;
  top: 8px;
  left: 55px;
  color: #8c9196;
  font-size: 12px;
}
.nav__searchBar_search.active {
  left: 2px;
}
.nav__searchBar_input {
  outline: 0;
  text-align: center;
  padding: 0px 15px;
  font-size: 14px;
  color: #8c9196;
  background: #fafafa;
  border: none;
}
.nav__searchBar_input.active {
  text-align: left;
}
.nav__searchBar_cross {
  position: absolute;
  top: 8px;
  right: 2px;
  color: #8c9196;
  cursor: pointer;
  font-size: 12px;
  display: none;
}
.nav__searchBar_cross.active {
  display: block;
}

.nav__menubar {
  display: flex;
  font-size: 20px;
}

.nav__menubar_icon_wrap {
  margin-left: 20px;
  cursor: pointer;
}

.nav__menubar_lastIcon_wrapper {
  display: flex;
}
.nav__menubar_lastIcon_wrapper > button,
.nav__menubar_lastIcon_wrapper > button:hover,
.nav__menubar_lastIcon_wrapper > button:focus,
.nav__menubar_lastIcon_wrapper > button:focus {
  padding: 0;
  background: transparent !important;
  color: #000 !important;
  border: none;
  box-shadow: none !important;
}
.nav__menubar_lastIcon_wrapper > button::after {
  display: none;
}

.nav__menubar_lastIcon_wrapper > .dropdown-menu {
  transform: translate(-126px, 40px) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 0;
  padding: 0;
}
.nav__menubar_lastIcon_wrapper > .dropdown-menu a {
  padding: 8px 15px;
}

.nav__menubar_lastDropdown_item {
  margin-right: 7px;
}
.nav__menubar_lastDropdown_item_saved {
  margin-right: 10px;
}
.nav__menubar_lastDropdown_item_logout {
  border-top: 1px solid lightgray !important;
}
