.login__container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.login__row {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__main {
  background: #fff;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 25px;
}
.login__brand_wrap {
  margin: auto;
  margin-bottom: 10px;
}
.login__brand {
  justify-content: center;
  display: flex;
  width: 155px;
}
.login__form {
  flex-direction: column;
  display: flex;
  margin-top: 0;
}

.login__input_email {
  border: 1px solid lightgray;
  background: #fafafa !important;
  font-size: 13px;
  padding: 7px;
  margin-bottom: 10px;
  outline: 0;
  border-radius: 3px;
}
.login__input_password {
  border: 1px solid lightgray;
  background: #fafafa !important;
  font-size: 13px;
  padding: 7px;
  margin-bottom: 10px;
  outline: 0;
  border-radius: 3px;
}
.login__input_submit {
  border: none;
  outline: 0;
  background: #0095f6;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}
.login__input_submit:disabled {
  opacity: 0.5;
}

.login__reset_password {
  color: #0095f6;
  text-align: center;
  font-size: 14px;
}

.post__login_wrap {
  display: flex;
}

.post__login_text {
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.login__login_error {
  font-size: 13px;
  margin-bottom: 1rem;
}
